<div>
  <form>
    <input type="text" name="name" placeholder="Your name">
    <br>
    <input type="text" name="email" placeholder="Your email address">
    <br>
    <input type="password" name="password" placeholder="Your password">
    <br>
    <input type="submit" value="Sign up">
  </form>
  <div>
    Already have an account? <a href="/login">Log in</a>
  </div>
</div>
